In [1]:
# Assignment 1

# ques 1
**values can be integer or string and expressions will be mathematical operators.**
values are: 'hello',-87.8,6
expressions are: *,-,/,+

In [8]:
print(type('hello'))
print(type(-87.8))
print(type(6))

<class 'str'>
<class 'float'>
<class 'int'>

# ques 2
**string** : group of character that are represented in "" and '' , strings are immutable.
**variable** : name of a memory location, which store some data values.

# ques 3
**Data Types in python**
int : numeric data contains +ve and -ve number without any fractional data or decimal point.
bool : consists of True and False(1 and 0)
str : consists of '' and ""

# ques 4

**Expressions** : consists of operators and operands.
 An expression is evaluated as per the precedence of its operators.

# ques 5
This assignment statements, like spam = 10.  **difference between an expression and a statement**
**expression** :Expressions will be mathematical operators(+,-,*,/,..etc.)
**statement** :A statement is a programming instruction that does something.(x=10,print("hii"),..etc.)

In [10]:
# ques 6
bacon=22
print(bacon) 
bacon+1    # value is not update in the 'bacon'  
print(bacon+1)
print(bacon)

22
23
22

In [12]:
# ques 7
#both returns same result
print('spam' + 'spamspam')
print('spam' * 3)

spamspamspam
spamspamspam

# ques 8
Why is eggs a valid variable name while 100 is invalid?

eggs : start with a char, variables must be starts with char or _.
100 : its first letter is a digit so, not valid.

# ques 9
What three functions can be used to get the integer, floating-point number, or string version of a value?

to get the integer : int()
to get the floating-point : float()
to get the string : str()

# ques 10
Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

Because here we can't concatenate a string with an integer, to concatenate all the values its must be same types. so, here we have to convert 99 into the string.

In [16]:
'I have eaten ' + str(99)+ ' burritos.'

'I have eaten 99 burritos.'