### 5.	Write a Python program to swap two variables without temp variable?

In [1]:
a=5
b=78
a=a+b
b=a-b
a=a-b
print(a,b)

78 5

### 4.	Write a Python program to solve quadratic equation?

ax2 + bx + c = 0, where

a, b and c are real numbers and a ≠ 0

(-b ± (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)

In [13]:
def quad(a,b,c):
    det=(b ** 2 - 4 * a * c)
    if det<0:
        print(' complex root :',det)
    n1=(-b+det**(1/2))/(2*a)
    n2=(-b-det**(1/2))/(2*a)
    
    if n1<0 and n2<0:
        print('both -ve')
        return n1,n2
    elif n1>0 and n2<0:
        print('n1 +ve and n2 -ve, n1=')
        return n1
    elif n1<0 and n2>0:
        print('n2 +ve and n1 -ve, n2=')
        return n2
    else:
        print('both +ve')
        return n1,n2

In [14]:
quad(-1,-5,-6)

both -ve

(-3.0, -2.0)

In [16]:
quad(1,1,1)

 complex root : -3

TypeError: '<' not supported between instances of 'complex' and 'int'

### 3.	Write a Python program to display calendar?

In [20]:
# given month of the year
 
# import module
import calendar as cl
 
yy = int(input('enter year:'))
'''
mm = int(input('month :'))
 
# display the calendar of month
print(cl.month(yy, mm))
'''
print(cl.calendar(yy))

enter year: 2022

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

### 2.	Write a Python program to convert Celsius to Fahrenheit and vice-versa?

fahrenheit = celsius * 1.8 + 32

celsius= (farenheit-32) / 1.8

In [30]:
celsius=input('enter the value of celsius :')

#calculate farenheit
farenheit=float(celsius) * 1.8 + 32
print('{} celsius is equal to {} farenheit'.format(celsius,farenheit))

#farenheit to celsius
# find temperature in Celsius
f=float(input('give the value of farenheit :'))
c= (f-32) / 1.8
print('{} farenheit is equal to {} celsius'.format(f,c))

enter the value of celsius : -15

-15 celsius is equal to 5.0 farenheit

give the value of farenheit : 5

5.0 farenheit is equal to -15.0 celsius

### 1.	Write a Python program to convert kilometers to miles and vice-versa?

1 kilometer is equal to 0.621371 miles.

1 mile is equal to 1.60934 kilometers.

**formula**

Miles = Kilometers * 0.621371

Kilometers = Miles * 1.60934

In [34]:
#  kilometers to miles

def KiloToMiles(km):
    Miles = km * 0.621371
    print('{} kilometers is {} miles'.format(km,Miles))

In [35]:
KiloToMiles(5)

5 kilometers is 3.106855 miles

In [36]:

def MilesToKilo(Miles):
    Kilometers = Miles * 1.60934
    print('{} Miles is {} Kilometers'.format(Miles,Kilometers))

In [37]:
MilesToKilo(191)

191 Miles is 307.38394 Kilometers