## Tuples

In [2]:
# Tuples() : a collection, immutable
t=() # empty tuple
type(t)

tuple

In [3]:
t=tuple()
type(t)

tuple

In [ ]:
t1=(234,34,"tiki",.45,True)

In [5]:
# tuple slicing
t1[0:3]

(234, 34, 'tiki')

In [6]:
# reverse order
t1[::-1]

(True, 0.45, 'tiki', 34, 234)

In [7]:
t1[-1]

True

In [8]:
t1[-1::]

(True,)

In [9]:
l1=[234,34,"tiki",.45,True]

In [10]:
#modify 1st index value, mutable entity
l1[0]='behera'

In [11]:
l1

['behera', 34, 'tiki', 0.45, True]

In [12]:
# item reassignment not possible in tuples
t1[0]='behera'

TypeError: 'tuple' object does not support item assignment

In [13]:
t2=(24,54,565)

In [14]:
# we can perform an append operation in tuple, mutable concept works here
t1+t2

(234, 34, 'tiki', 0.45, True, 24, 54, 565)

In [18]:
t1[0:4][2][1]

'i'

In [38]:
t1*3 # multiply operation

(234,
 34,
 'tiki',
 0.45,
 True,
 234,
 34,
 'tiki',
 0.45,
 True,
 234,
 34,
 'tiki',
 0.45,
 True)

In [40]:
.45 in t1 # check elements available or not

True

In [41]:
t3=(24,56,78)
max(t3)

78

In [4]:
t4=('rygyfy','rygyfy','wefgs','z')
print(min(t4)
t4.index('rygyfy')

rygyfy

0

In [22]:
t1.count(234)
t4.count('rygyfy')

2

In [23]:
#if you want to insert,append in tuple, you hv to convert it to list
t5=56
ls=list(t1) # tuple to list conversion

In [24]:
ls

[234, 34, 'tiki', 0.45, True]

In [25]:
ls.append(t5)

In [26]:
ls

[234, 34, 'tiki', 0.45, True, 56]

In [59]:
tuple(ls) # converting list to tuple

(234, 34, 'tiki', 0.45, True, 56)

In [24]:
t=((3,4,5,6,7),('abc',23,32),'z',[67,87,87]) #tuples contains any types of elements

In [63]:
t[0][2:5]

(5, 6, 7)

In [64]:
t[3][1:3]

[87, 87]

In [25]:
for i in t:
    if type(i)==tuple:
        print(i[0],i) # getting 1st element of each tuple

3 (3, 4, 5, 6, 7)
abc ('abc', 23, 32)

In [68]:
t1

(234, 34, 'tiki', 0.45, True)

In [69]:
t2

(24, 54, 565)

In [70]:
if len(t1)== len(t2):
    print('same')
else:
    print('not same')

not same

In [71]:
t

((3, 4, 5, 6, 7), ('abc', 23, 32), 'z', [67, 87, 87])

In [73]:
x=(234, 34, 'tiki', 0.45, 34,34 ,True,'behera')

In [74]:
i=input('take input:')
if i in x:
    print('present')
else:
    print('unknown')

take input: behera

present

In [75]:
# to delete a tuple or list we are using del operations
del(t5)

In [76]:
t5

NameError: name 't5' is not defined

In [77]:
l1

['behera', 34, 'tiki', 0.45, True]

In [79]:
t1 #pop(),remove() operation not availablee due to immutability

(234, 34, 'tiki', 0.45, True)

 ## set

In [27]:
# set--> store only unique values and case sensitive and unordered collection of data
s=set() # empty set, if we gives only {}, it treat as a dictionary
type(s)

set

In [28]:
s1={45,45,45,6,6,6,34,78,'tiki','behera',False,False}

In [29]:
s1

{34, 45, 6, 78, False, 'behera', 'tiki'}

In [30]:
for i in s1:
    print(i)

False
34
tiki
6
behera
45
78

In [31]:
6 in s1

True

In [34]:
# indexing operations, we can't do because its an unordered collection
s1[0] # set is mutable, elements of sets are immutable

TypeError: 'set' object is not subscriptable

In [55]:
# we can add element using add(), nested list/tuple insertion not possible
s.add(45)
s.add('tiki')
s.add(((1,2),(1,2,3)))
#s.add({1:'xy',2:3.5}) -->we can't add

In [56]:
s

{((1, 2), (1, 2, 3)), 234, 345, 45, 'rtyi', 'tiki'}

In [57]:
#remove operation
s.remove(45)

In [58]:
s

{((1, 2), (1, 2, 3)), 234, 345, 'rtyi', 'tiki'}

In [59]:
# clear(): wipe out all the data of the set
s.clear() #gives empty set

In [60]:
s

set()

In [61]:
s.add(234)
s.add(345)
s.add('rtyi')

In [62]:
s

{234, 345, 'rtyi'}

In [124]:
# convert set to list/tuples
list(s)

['rtyi', 345, 234]

In [126]:
set(s) # convert list/tuple to set

{234, 345, 'rtyi'}

In [128]:
for i in s:
    print(i)

rtyi
345
234

In [79]:
p={2,34,5}
q={23,6,7}

In [82]:
p*q

TypeError: unsupported operand type(s) for *: 'set' and 'set'

## dictionary :
hold key and value pair and distinct/unique or updated data

In [63]:
d={}
type(d)

dict

In [64]:
d1={78,90}
type(d1) # because set also gives output in {}, but dictionary takes keys and values

set

In [65]:
d={'name':'tiki','age':21,'age':22}

In [66]:
d

{'name': 'tiki', 'age': 22}

In [67]:
# key can be number,string,bool etc not any special character
d2={'name':'tiku',True:90,12:24,'_nm':'tiku',1:(10,20)}

In [68]:
d2

{'name': 'tiku', True: (10, 20), 12: 24, '_nm': 'tiku'}

In [90]:
r=d*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

### value wise we can store tuples,dict,sets,list
### key wise we can store tuples

In [70]:
x3={(3,4):45,67:(1,2,3,4),(1,2,3):568,'abc':[1,2,3,4,4,5]}

In [71]:
x3

{(3, 4): 45, 67: (1, 2, 3, 4), (1, 2, 3): 568, 'abc': [1, 2, 3, 4, 4, 5]}

In [77]:
x3['abc'][3]

4

In [73]:
type(x3['abc'])

list

In [29]:
# we can't perform +, * operation in dict
d*3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [83]:
d={'name': 'tiki', 'age': 22,'k4':[1,2,3]}

In [84]:
d

{'name': 'tiki', 'age': 22, 'k4': [1, 2, 3]}

In [85]:
d['k4']=332 #assignment operation we can perform

In [86]:
d

{'name': 'tiki', 'age': 22, 'k4': 332}

In [87]:
# d['k4'] -= 10 
d['k4']=d['k4']-10 # both are same

In [35]:
d

{'name': 'tiki', 'age': 22, 'k4': 322}

In [36]:
'k4' in d.keys()

True

In [37]:
#to fetch all the keys
d.keys()

dict_keys(['name', 'age', 'k4'])

In [93]:
for i in d.keys():
    print(d[i]) # to fetch respective values of the keys

tiki
22
322

In [96]:
d.items() #gives the list of tuples of keys and respective values

dict_items([('name', 'tiki'), ('age', 22), ('k4', 322)])

In [98]:
for i in d.items():
    print(i)

('name', 'tiki')
('age', 22)
('k4', 322)

In [101]:
x5={(34,56,56):'kgg'}

In [103]:
x5[(34,56,56)]

'kgg'

In [43]:
len(d2)

4

In [44]:
d2

{'name': 'tiku', True: (10, 20), 12: 24, '_nm': 'tiku'}

In [45]:
x3

{(3, 4): 45, 67: (1, 2, 3, 4), (1, 2, 3): 568, 'abc': [1, 2, 3, 4, 4, 5]}

 ### HomeWork

In [46]:
inp=input('enter a paragraph:')

enter a paragraph: Galilean and Cartesian theories about space, matter, and motion are at the foundation of the Scientific Revolution, which is understood to have culminated with the publication of Newton's Principia in 1687.[5] Newton's theories about space and time helped him explain the movement of objects. While his theory of space is considered the most influential in Physics, it emerged from his predecessors' ideas about the same. As one of the pioneers of modern science, Galileo revised the established Aristotelian and Ptolemaic ideas about a geocentric cosmos. He backed the Copernican theory that the universe was heliocentric, with a stationary sun at the center and the planets—including the Earth—revolving around the sun. If the Earth moved, the Aristotelian belief that its natural tendency was to remain at rest was in question. Galileo wanted to prove instead that the sun moved around its axis, that motion was as natural to an object as the state of rest. In other words, for Galileo, celestial bodies, including the Earth, were naturally inclined to move in circles. This view displaced another Aristotelian idea—that all objects gravitated towards their designated natural place-of-belonging.

In [47]:
r1=inp.split()

In [48]:
r1

['Galilean',
 'and',
 'Cartesian',
 'theories',
 'about',
 'space,',
 'matter,',
 'and',
 'motion',
 'are',
 'at',
 'the',
 'foundation',
 'of',
 'the',
 'Scientific',
 'Revolution,',
 'which',
 'is',
 'understood',
 'to',
 'have',
 'culminated',
 'with',
 'the',
 'publication',
 'of',
 "Newton's",
 'Principia',
 'in',
 '1687.[5]',
 "Newton's",
 'theories',
 'about',
 'space',
 'and',
 'time',
 'helped',
 'him',
 'explain',
 'the',
 'movement',
 'of',
 'objects.',
 'While',
 'his',
 'theory',
 'of',
 'space',
 'is',
 'considered',
 'the',
 'most',
 'influential',
 'in',
 'Physics,',
 'it',
 'emerged',
 'from',
 'his',
 "predecessors'",
 'ideas',
 'about',
 'the',
 'same.',
 'As',
 'one',
 'of',
 'the',
 'pioneers',
 'of',
 'modern',
 'science,',
 'Galileo',
 'revised',
 'the',
 'established',
 'Aristotelian',
 'and',
 'Ptolemaic',
 'ideas',
 'about',
 'a',
 'geocentric',
 'cosmos.',
 'He',
 'backed',
 'the',
 'Copernican',
 'theory',
 'that',
 'the',
 'universe',
 'was',
 'heliocentric,',
 'with',
 'a',
 'stationary',
 'sun',
 'at',
 'the',
 'center',
 'and',
 'the',
 'planets—including',
 'the',
 'Earth—revolving',
 'around',
 'the',
 'sun.',
 'If',
 'the',
 'Earth',
 'moved,',
 'the',
 'Aristotelian',
 'belief',
 'that',
 'its',
 'natural',
 'tendency',
 'was',
 'to',
 'remain',
 'at',
 'rest',
 'was',
 'in',
 'question.',
 'Galileo',
 'wanted',
 'to',
 'prove',
 'instead',
 'that',
 'the',
 'sun',
 'moved',
 'around',
 'its',
 'axis,',
 'that',
 'motion',
 'was',
 'as',
 'natural',
 'to',
 'an',
 'object',
 'as',
 'the',
 'state',
 'of',
 'rest.',
 'In',
 'other',
 'words,',
 'for',
 'Galileo,',
 'celestial',
 'bodies,',
 'including',
 'the',
 'Earth,',
 'were',
 'naturally',
 'inclined',
 'to',
 'move',
 'in',
 'circles.',
 'This',
 'view',
 'displaced',
 'another',
 'Aristotelian',
 'idea—that',
 'all',
 'objects',
 'gravitated',
 'towards',
 'their',
 'designated',
 'natural',
 'place-of-belonging.']

In [49]:
r2=set(r1)
r2

{'1687.[5]',
 'Aristotelian',
 'As',
 'Cartesian',
 'Copernican',
 'Earth',
 'Earth,',
 'Earth—revolving',
 'Galilean',
 'Galileo',
 'Galileo,',
 'He',
 'If',
 'In',
 "Newton's",
 'Physics,',
 'Principia',
 'Ptolemaic',
 'Revolution,',
 'Scientific',
 'This',
 'While',
 'a',
 'about',
 'all',
 'an',
 'and',
 'another',
 'are',
 'around',
 'as',
 'at',
 'axis,',
 'backed',
 'belief',
 'bodies,',
 'celestial',
 'center',
 'circles.',
 'considered',
 'cosmos.',
 'culminated',
 'designated',
 'displaced',
 'emerged',
 'established',
 'explain',
 'for',
 'foundation',
 'from',
 'geocentric',
 'gravitated',
 'have',
 'heliocentric,',
 'helped',
 'him',
 'his',
 'ideas',
 'idea—that',
 'in',
 'inclined',
 'including',
 'influential',
 'instead',
 'is',
 'it',
 'its',
 'matter,',
 'modern',
 'most',
 'motion',
 'move',
 'moved',
 'moved,',
 'movement',
 'natural',
 'naturally',
 'object',
 'objects',
 'objects.',
 'of',
 'one',
 'other',
 'pioneers',
 'place-of-belonging.',
 'planets—including',
 "predecessors'",
 'prove',
 'publication',
 'question.',
 'remain',
 'rest',
 'rest.',
 'revised',
 'same.',
 'science,',
 'space',
 'space,',
 'state',
 'stationary',
 'sun',
 'sun.',
 'tendency',
 'that',
 'the',
 'their',
 'theories',
 'theory',
 'time',
 'to',
 'towards',
 'understood',
 'universe',
 'view',
 'wanted',
 'was',
 'were',
 'which',
 'with',
 'words,'}

In [50]:
len(r1)

185

In [51]:
len(r2)

120

In [59]:
dic=dict.fromkeys(r2,'sudh')
dic

{'about': 'sudh',
 'culminated': 'sudh',
 'Scientific': 'sudh',
 'bodies,': 'sudh',
 'geocentric': 'sudh',
 'considered': 'sudh',
 'If': 'sudh',
 'for': 'sudh',
 'motion': 'sudh',
 'tendency': 'sudh',
 'wanted': 'sudh',
 'place-of-belonging.': 'sudh',
 'at': 'sudh',
 'Revolution,': 'sudh',
 'displaced': 'sudh',
 "Newton's": 'sudh',
 'movement': 'sudh',
 'naturally': 'sudh',
 'Ptolemaic': 'sudh',
 'planets—including': 'sudh',
 'a': 'sudh',
 'including': 'sudh',
 'move': 'sudh',
 'belief': 'sudh',
 'space,': 'sudh',
 'ideas': 'sudh',
 'Physics,': 'sudh',
 'idea—that': 'sudh',
 'celestial': 'sudh',
 'revised': 'sudh',
 'the': 'sudh',
 'another': 'sudh',
 'which': 'sudh',
 'matter,': 'sudh',
 'sun.': 'sudh',
 'objects.': 'sudh',
 'rest': 'sudh',
 'understood': 'sudh',
 'have': 'sudh',
 'He': 'sudh',
 'Earth,': 'sudh',
 'explain': 'sudh',
 'theories': 'sudh',
 'pioneers': 'sudh',
 'science,': 'sudh',
 'circles.': 'sudh',
 'gravitated': 'sudh',
 'inclined': 'sudh',
 'Principia': 'sudh',
 'him': 'sudh',
 'natural': 'sudh',
 'modern': 'sudh',
 'all': 'sudh',
 'publication': 'sudh',
 'Galilean': 'sudh',
 'state': 'sudh',
 'objects': 'sudh',
 'is': 'sudh',
 'Cartesian': 'sudh',
 'Aristotelian': 'sudh',
 'Earth': 'sudh',
 'theory': 'sudh',
 'space': 'sudh',
 'sun': 'sudh',
 'While': 'sudh',
 'view': 'sudh',
 'around': 'sudh',
 'remain': 'sudh',
 'question.': 'sudh',
 'that': 'sudh',
 'were': 'sudh',
 "predecessors'": 'sudh',
 'to': 'sudh',
 'other': 'sudh',
 'and': 'sudh',
 'center': 'sudh',
 'an': 'sudh',
 'from': 'sudh',
 'backed': 'sudh',
 'emerged': 'sudh',
 'prove': 'sudh',
 'influential': 'sudh',
 'helped': 'sudh',
 'its': 'sudh',
 '1687.[5]': 'sudh',
 'in': 'sudh',
 'words,': 'sudh',
 'Galileo,': 'sudh',
 'as': 'sudh',
 'towards': 'sudh',
 'his': 'sudh',
 'one': 'sudh',
 'Earth—revolving': 'sudh',
 'axis,': 'sudh',
 'cosmos.': 'sudh',
 'with': 'sudh',
 'foundation': 'sudh',
 'are': 'sudh',
 'designated': 'sudh',
 'stationary': 'sudh',
 'moved,': 'sudh',
 'their': 'sudh',
 'established': 'sudh',
 'it': 'sudh',
 'Galileo': 'sudh',
 'heliocentric,': 'sudh',
 'Copernican': 'sudh',
 'In': 'sudh',
 'As': 'sudh',
 'This': 'sudh',
 'moved': 'sudh',
 'was': 'sudh',
 'of': 'sudh',
 'instead': 'sudh',
 'rest.': 'sudh',
 'most': 'sudh',
 'time': 'sudh',
 'object': 'sudh',
 'same.': 'sudh',
 'universe': 'sudh'}

In [60]:
r3= list(r2)

In [61]:
d1={}
for i in r3:
    d1[i]='sudhanshu'

In [62]:
d1

{'about': 'sudhanshu',
 'culminated': 'sudhanshu',
 'Scientific': 'sudhanshu',
 'bodies,': 'sudhanshu',
 'geocentric': 'sudhanshu',
 'considered': 'sudhanshu',
 'If': 'sudhanshu',
 'for': 'sudhanshu',
 'motion': 'sudhanshu',
 'tendency': 'sudhanshu',
 'wanted': 'sudhanshu',
 'place-of-belonging.': 'sudhanshu',
 'at': 'sudhanshu',
 'Revolution,': 'sudhanshu',
 'displaced': 'sudhanshu',
 "Newton's": 'sudhanshu',
 'movement': 'sudhanshu',
 'naturally': 'sudhanshu',
 'Ptolemaic': 'sudhanshu',
 'planets—including': 'sudhanshu',
 'a': 'sudhanshu',
 'including': 'sudhanshu',
 'move': 'sudhanshu',
 'belief': 'sudhanshu',
 'space,': 'sudhanshu',
 'ideas': 'sudhanshu',
 'Physics,': 'sudhanshu',
 'idea—that': 'sudhanshu',
 'celestial': 'sudhanshu',
 'revised': 'sudhanshu',
 'the': 'sudhanshu',
 'another': 'sudhanshu',
 'which': 'sudhanshu',
 'matter,': 'sudhanshu',
 'sun.': 'sudhanshu',
 'objects.': 'sudhanshu',
 'rest': 'sudhanshu',
 'understood': 'sudhanshu',
 'have': 'sudhanshu',
 'He': 'sudhanshu',
 'Earth,': 'sudhanshu',
 'explain': 'sudhanshu',
 'theories': 'sudhanshu',
 'pioneers': 'sudhanshu',
 'science,': 'sudhanshu',
 'circles.': 'sudhanshu',
 'gravitated': 'sudhanshu',
 'inclined': 'sudhanshu',
 'Principia': 'sudhanshu',
 'him': 'sudhanshu',
 'natural': 'sudhanshu',
 'modern': 'sudhanshu',
 'all': 'sudhanshu',
 'publication': 'sudhanshu',
 'Galilean': 'sudhanshu',
 'state': 'sudhanshu',
 'objects': 'sudhanshu',
 'is': 'sudhanshu',
 'Cartesian': 'sudhanshu',
 'Aristotelian': 'sudhanshu',
 'Earth': 'sudhanshu',
 'theory': 'sudhanshu',
 'space': 'sudhanshu',
 'sun': 'sudhanshu',
 'While': 'sudhanshu',
 'view': 'sudhanshu',
 'around': 'sudhanshu',
 'remain': 'sudhanshu',
 'question.': 'sudhanshu',
 'that': 'sudhanshu',
 'were': 'sudhanshu',
 "predecessors'": 'sudhanshu',
 'to': 'sudhanshu',
 'other': 'sudhanshu',
 'and': 'sudhanshu',
 'center': 'sudhanshu',
 'an': 'sudhanshu',
 'from': 'sudhanshu',
 'backed': 'sudhanshu',
 'emerged': 'sudhanshu',
 'prove': 'sudhanshu',
 'influential': 'sudhanshu',
 'helped': 'sudhanshu',
 'its': 'sudhanshu',
 '1687.[5]': 'sudhanshu',
 'in': 'sudhanshu',
 'words,': 'sudhanshu',
 'Galileo,': 'sudhanshu',
 'as': 'sudhanshu',
 'towards': 'sudhanshu',
 'his': 'sudhanshu',
 'one': 'sudhanshu',
 'Earth—revolving': 'sudhanshu',
 'axis,': 'sudhanshu',
 'cosmos.': 'sudhanshu',
 'with': 'sudhanshu',
 'foundation': 'sudhanshu',
 'are': 'sudhanshu',
 'designated': 'sudhanshu',
 'stationary': 'sudhanshu',
 'moved,': 'sudhanshu',
 'their': 'sudhanshu',
 'established': 'sudhanshu',
 'it': 'sudhanshu',
 'Galileo': 'sudhanshu',
 'heliocentric,': 'sudhanshu',
 'Copernican': 'sudhanshu',
 'In': 'sudhanshu',
 'As': 'sudhanshu',
 'This': 'sudhanshu',
 'moved': 'sudhanshu',
 'was': 'sudhanshu',
 'of': 'sudhanshu',
 'instead': 'sudhanshu',
 'rest.': 'sudhanshu',
 'most': 'sudhanshu',
 'time': 'sudhanshu',
 'object': 'sudhanshu',
 'same.': 'sudhanshu',
 'universe': 'sudhanshu'}

In [63]:
t1=tuple(d1.values())

In [64]:
t1

('sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu',
 'sudhanshu')

In [65]:
l1=list(d1.keys())
l1

['about',
 'culminated',
 'Scientific',
 'bodies,',
 'geocentric',
 'considered',
 'If',
 'for',
 'motion',
 'tendency',
 'wanted',
 'place-of-belonging.',
 'at',
 'Revolution,',
 'displaced',
 "Newton's",
 'movement',
 'naturally',
 'Ptolemaic',
 'planets—including',
 'a',
 'including',
 'move',
 'belief',
 'space,',
 'ideas',
 'Physics,',
 'idea—that',
 'celestial',
 'revised',
 'the',
 'another',
 'which',
 'matter,',
 'sun.',
 'objects.',
 'rest',
 'understood',
 'have',
 'He',
 'Earth,',
 'explain',
 'theories',
 'pioneers',
 'science,',
 'circles.',
 'gravitated',
 'inclined',
 'Principia',
 'him',
 'natural',
 'modern',
 'all',
 'publication',
 'Galilean',
 'state',
 'objects',
 'is',
 'Cartesian',
 'Aristotelian',
 'Earth',
 'theory',
 'space',
 'sun',
 'While',
 'view',
 'around',
 'remain',
 'question.',
 'that',
 'were',
 "predecessors'",
 'to',
 'other',
 'and',
 'center',
 'an',
 'from',
 'backed',
 'emerged',
 'prove',
 'influential',
 'helped',
 'its',
 '1687.[5]',
 'in',
 'words,',
 'Galileo,',
 'as',
 'towards',
 'his',
 'one',
 'Earth—revolving',
 'axis,',
 'cosmos.',
 'with',
 'foundation',
 'are',
 'designated',
 'stationary',
 'moved,',
 'their',
 'established',
 'it',
 'Galileo',
 'heliocentric,',
 'Copernican',
 'In',
 'As',
 'This',
 'moved',
 'was',
 'of',
 'instead',
 'rest.',
 'most',
 'time',
 'object',
 'same.',
 'universe']

In [104]:
dc={'company':'ineuron','year':2022}

In [105]:
for i in dc:
    print('key is ',i, ' and values is ', dc[i]) # fetching kys and values

key is  company  and values is  ineuron
key is  year  and values is  2022

In [70]:
for i in dc:
    if i=='year':
        if dc[i]> 2023:
            print('fine !!!')
        else:
            dc[i]=2023 # if its not 2023, update 2023

In [71]:
dc

{'company': 'ineuron', 'year': 2023}

In [111]:
# dic comprehension
rs={}
for i in range(11):
    rs[i]=i*i #key is value from 0-10 and value is sqr

In [112]:
rs

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}