### function generator and file handling

In [15]:
def Test(**kwargs): 
    print(kwargs.items())

In [16]:
Test(uiki=90,s=95)

dict_items([('uiki', 90), ('s', 95)])

In [1]:
def Tst(**kwarg):
    return kwarg

Tst(a=123,b=67.8)

{'a': 123, 'b': 67.8}

In [20]:
Test(x='tiki',y=89,yuv=[90,98])

dict_items([('x', 'tiki'), ('y', 89), ('yuv', [90, 98])])

### anonymous func/Lambda func

Function having no name, create using lambda keyword.

In [22]:
def Test1(name,email):
    return email,name

Test1('tiki@12.com','ysg')

('ysg', 'tiki@12.com')

In [25]:
a,b=10,20

def Tst(a,b):
    return a+b

Tst(a,b)
#using normal func

30

(store the func) m = lambda(keyword) x,y(no. of args): x+y(operation)

print(m(val1,val2)) (to call the func)

In [38]:
#addn using anonymous fun
m = lambda x,y: x+y

m(10,15)

25

In [3]:
n= lambda a,b,c: a*b*c
n(2,3,4)

24

In [34]:
l=lambda *args : [*args] #takes multiple args

l(1,2,3,('ikio',8),[1,2])

[1, 2, 3, ('ikio', 8), [1, 2]]

In [46]:
con=lambda name,email : print(name+email,'\n',name)

con('tiki','123@qw.com')

tiki123@qw.com
 tiki

In [43]:
u,v='twinkle','behera'

w = lambda *arg : print(*arg)

In [44]:
w(u,v)

twinkle behera

In [55]:
# scope of var

r=10      # global var
def Test2(a,b):
    r=a/b  # local var, it gives first priority when func call to local var
    return r

In [56]:
Test2(10,10)

1.0

### user created func : Docstring

In [64]:
def Test3(): # inside """ """ , u can put description
    '''
    this is my test func, 
    am using this to just print the name.
    help of this u can learn all the things
    '''
    print('name is bhishnupriye')

In [65]:
Test3() # by pressing shift+tab u can see

name is bhishnupriye

In [66]:
help(Test3)

Help on function Test3 in module __main__:

Test3()
    this is my test func,
    am using this to just print the name.
    help of this u can learn all the things

### Iterator and generator

a=10

for i in a: 
it gives error like int obj are not iterable
    print(i)

In [73]:
a=1
for i in a: # it gives error like int obj are not iterable
    print(i)

TypeError: 'int' object is not iterable

In [71]:
for i in 'tike':
    print(i)

t
i
k
e

### Iterator : 
'str' is not an iterator and 'int' is not an iterable, iterator is a kind of entity/obj, out of which you can able to extract the data with the help of indexes.

### Iterables :
str is an iterable.
'int' is not an iterable, one by one we can fetch/iterate the data is iterables.

In [82]:
# extract the data without using indexes and without using for loop

t='tike'
next(t)

TypeError: 'str' object is not an iterator

In [77]:
a=iter((1,2,3))

In [81]:
next(a)

1

In [85]:
t='tike'
t=iter(t)

In [86]:
next(t)

't'

In [87]:
next(t)

'i'

In [88]:
next(t)

'k'

In [90]:
p='pinku' 
#iterable, i have to convert it to iterator using iter()

p=iter(p)
next(p)

'p'

In [94]:
next(p)

'u'

In [7]:
d={'a':'abc',1:45}
dic=iter(d)
next(dic)

'a'

In [8]:
next(dic)

1

In [11]:
a=10
for i in a:
    print(i) # both are same as below
#a=iter(a)
#next(a)

TypeError: 'int' object is not iterable

In [6]:
tuple=(1,2,3,4,5)
tuple=iter(tuple)

In [101]:
next(tuple)

5

In [102]:
next(tuple)

StopIteration:

In [121]:
def Test4(n):
    l=[]
    for i in range(n):
        l.append(i**2)
        if i == 3:
            break
    return l

In [122]:
Test4(7)

[0, 1, 4, 9]

In [123]:
def Test4(n):
    l=[]
    for i in range(n):
        if i == 3:
            continue
        else:
            l.append(i**2)
            
    return l

In [124]:
Test4(9)

[0, 1, 4, 16, 25, 36, 49, 64]

### Generator :

reduce time complexity.

yield keyword is used to not waiting for the result in the continuous iteration.

In [125]:
def Test5(n):
    for i in range(n):
        yield i**3
        
Test5(30)

In [132]:
for i in Test5(31):
    print(i,end=",")

0,1,8,27,64,125,216,343,512,729,1000,1331,1728,2197,2744,3375,4096,4913,5832,6859,8000,9261,10648,12167,13824,15625,17576,19683,21952,24389,27000,

In [34]:
# fibonacci series(0,1,1,2,3,5,8,13,..)
def fibonacci(n):
    a,b=1,1
    c=0
    output=[]
    for i in range(n):
        output.append(c)
        a=b
        b=c
        c=a+b
    return output

In [35]:
fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [153]:
# using generator func
# fibonacci series(0,1,1,2,3,5,8,13,..)
def fibonacci(n):
    a,b=1,1
    for i in range(n):
        yield a
        a,b=b,a+b

In [157]:
for i in fibonacci(11):
    print(i,end=',')

1,1,2,3,5,8,13,21,34,55,89,

In [19]:
def Prac():
    for i in range(1,11):
        yield i*9

In [20]:
list(Prac())

[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]

In [30]:
def tst4(*arg):
    l=[]
    for i in arg:
        if type(i)==int or type(i)==float:
            l.append(i)
        else:
            l.extend(i)
    return l

In [31]:
tst4(1,5,'tiki',[1,2,3,'tiki'])

[1, 5, 't', 'i', 'k', 'i', 1, 2, 3, 'tiki']

In [25]:
def tst4(*arg):
    l=[]
    for i in arg:
        l.extend(i)
    return l

In [26]:
tst4('tiki',[1,2,3,'tiki'])

['t', 'i', 'k', 'i', 1, 2, 3, 'tiki']