In [23]:
# multiple condn in if stmnt(and)
a=10
b=20

if a==10 and b>20:
    print("valid stmnt")
elif a==10 and b<=20:
    print("valid elif stmnt")
else:
    print("not valid condn")

valid elif stmnt

In [4]:
a==10 and b>=20

True

In [21]:
# if stmnt in one line
if a==10:print("heelo")

heelo

In [1]:
# multiple condn in if stmnt(or)
a=10
b=20

if a>10 or b>20:
    print("valid stmnt")
elif a==10 or b<20:
    print("valid elif stmnt")
else:
    print("not valid condn")

valid elif stmnt

In [9]:
fnm=input("enter frst nm:").capitalize()
lnm=input("enter lst nm:").capitalize()
if fnm=='Cuty' and lnm=='Sahu':
    print("hi cuty")
elif lnm=='Behera' and fnm=='Tiki':
    print('hi tiki')
else:
    print('vago idhar se')

enter frst nm: tiKi
enter lst nm: beHEra

hi tiki

In [8]:
fnm=input("enter frst nm:").capitalize()
lnm=input("enter lst nm:").capitalize()
print(fnm,lnm)

enter frst nm: tiKi
enter lst nm: bEhera

Tiki Behera

In [28]:
x=y=input('enter name')

enter name tiki

In [29]:
x,y

('tiki', 'tiki')

In [11]:
p,q=input(),input()

 tiki
 cuty

In [12]:
p,q

('tiki', 'cuty')

In [22]:
# multiple user input statement in same line
a,b=input("Enter 1st name"),input("Enter 2nd")

Enter 1st name 12
Enter 2nd 34

In [19]:
#while stmnt
n=int(input("enter num:"))
while n<=100:
    print(n)
    n=n*2
    if n>50:
        print('kuch bhi')
        break

enter num: 3

3
6
12
24
48
kuch bhi

In [52]:
n=int(input('enter num'))
i=1
while i<=10:
    r=n*i
    print('{} * {} = {}'.format(n,i,r))
    i+=1
    if i==5:
        break

enter num 3

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12

In [43]:
15>15

False

In [10]:
init_spd=0
final_spd=100
c=1
while init_spd< final_spd:
    print("my speed")
    c=c+1
    if c==5:
        break

my speed
my speed
my speed
my speed

In [54]:
m=int(input("enter num:"))
while m<=10:
    print(m)
    m=m+1

enter num: 5

5
6
7
8
9
10

In [55]:
notes=5
i=1
j=1
while i <= notes:
    print(i)
    i +=1
else:
    while j<2:
        print(j)
        j=j+1
    print('rs 10 notes are available')

1
2
3
4
5
1
rs 10 notes are available

In [56]:
# extract data from string
s='tike'
s[2]

# or->
#for i in s:
#if i=='k':
#print(i)

'k'

In [59]:
l=[1,2,3,4,['tiki',1,2]]
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==str:
                if j=='tiki':
                    print(j)

tiki

In [1]:
# string slicing
s1='my name is tikeswari'
s1[3:10]

'name is'

In [2]:
#it takes first index,last index and jump step
s1[3:10:2]

'nm s'

In [6]:
s1[-15:10]
s1[10:-15] or s1[10:3] # this both is not valid

''

In [7]:
s1[:]

'my name is tikeswari'

In [11]:
# revers string
s1[10:2:-1]

' si eman'

In [10]:
#reverse of complete string
s1[::-1]

'irawsekit si eman ym'

In [12]:
s1[10:-6]

' tik'

In [28]:
# for loop
for i in s:
    print(i)

t
i
k
e

In [33]:
for i in s:
    if i=='k':
        print(i,'-->',s.index('k'))

k --> 2

In [37]:
for i in s1:
    if i=='i':
        print('got it!!')
    print(i)

m
y

n
a
m
e

got it!!
i
s

t
got it!!
i
k
e
s
w
a
r
got it!!
i

In [46]:
# once for completed , else will execute in for-else condn
#using break and continue also
for i in s1:
    if i==' ':
        continue
        #break
    print(i)
else:
    if i=='i':
        print('last character')
    print('else wala part')

m
y
n
a
m
e
i
s
t
i
k
e
s
w
a
r
i
last character
else wala part

In [15]:
# continue stmnt
s2,ss='ineuron',""
#ss=""
for i in range(len(s2)): # range will try to generate the data starting from 0 to n-1
    if s2[i]=='n':
        continue
    else:
        ss=ss+s2[i]
print(ss)

ieuro

In [16]:
print(set(range(len(s2))))
ss=ss+s2[i]
ss

{0, 1, 2, 3, 4, 5, 6}

'ieuron'

In [13]:
# nested for
n=7
for i in range(0,n-1):
    for j in range(0,i+1):
        print('+ ' , end="")
    print('\r') # used for carrage return ,moving the cursor to 1st line

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +

In [7]:
%%time
line='+'
max=7
while len(line)<max:
    print(line)
    line+="+"

+
++
+++
++++
+++++
++++++
CPU times: total: 0 ns
Wall time: 0 ns

In [79]:
%%time
l='+'
for i in range(0,7):
    print(l*i)

+
++
+++
++++
+++++
++++++
CPU times: total: 0 ns
Wall time: 0 ns

In [97]:
n=int(input('enter num:'))
m=2*n-2
for i in range(n,-1,-1):
    for j in range(m,0,-1):
        print(end=' ')
    m=m+1
    for j in range(0,i+1):
        print('*',end=' ')
    print("")

enter num: 5

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [29]:
list(range(5,1,-1))
#list(range(6,0,-1))

[5, 4, 3, 2]

In [102]:
# list (in python there is no array concept, we can use list)
l=list() #empty list
l
type(l)

list

In [101]:
l=['tiki',543535345,'bgh']
l[0]

'tiki'

In [25]:
l1=list()
for i in range(5):
    n=input() #user input in list
    l1.append(n)
print(l1)
#convert list to tuple
print(tuple(l1))

 [45,'ui',78.9]
 (89,0,89.8,'iki')
 {90,78.9,'iii',[89,76]}
 78,
 tiki

["[45,'ui',78.9]", "(89,0,89.8,'iki')", "{90,78.9,'iii',[89,76]}", '78,', 'tiki']
("[45,'ui',78.9]", "(89,0,89.8,'iki')", "{90,78.9,'iii',[89,76]}", '78,', 'tiki')

In [27]:
l2=[12,'tiki',True,45+8j,{'a':67},(4,5,'tikiki'),[12,45,'tjj'],{767,89,'ggj'}]
for i in l2:
    print(type(i),"\t",i)

<class 'int'> 	 12
<class 'str'> 	 tiki
<class 'bool'> 	 True
<class 'complex'> 	 (45+8j)
<class 'dict'> 	 {'a': 67}
<class 'tuple'> 	 (4, 5, 'tikiki')
<class 'list'> 	 [12, 45, 'tjj']
<class 'set'> 	 {89, 'ggj', 767}

In [28]:
for i in l2:
    if type(i)==list:
        n=0
        for j in i: #fetching list inside list elem
            if type(j)== int:
                n=n+j
        print(n) # summation of list
        print(type(j))

57
<class 'str'>

In [126]:
print(l2)
l2[8:3:-1]

[12, 'tiki', True, (45+8j), {'a': 67}, (4, 5, 'tikiki'), [12, 45, 'tjj'], {89, 'ggj', 767}]

[{767, 89, 'ggj'}, [12, 45, 'tjj'], (4, 5, 'tikiki'), {'a': 67}]

In [127]:
l2[8:3:-2]

[{767, 89, 'ggj'}, (4, 5, 'tikiki')]

In [128]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [129]:
#check length of list
len(l2)

8